@import "./../../../scss/variables.scss";

#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;

}

.search {
  position: absolute;
  top: 160px;
  width: 75px;
  height: 50px;
  z-index: 9999;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  align-items: center;
  justify-content: center
}


::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  // outline coolor
  color: $light-navbar !important;
}

::ng-deep .mat-form-field .mat-form-field-flex {
  /*change bgcolor of form field and round it*/
  background-color: $light-navbar !important;
  border-radius: 12px !important;
  padding: 15px
}

::ng-deep .mat-input-element {
  /* cursor of input*/
  caret-color: $light-navbar !important;
}

::ng-deep .mat-form-field-underline {
  /*change color of underline*/
  background-color: $light-navbar !important;
}

::ng-deep .mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: $light-navbar !important;
}


.searchIcon {
  margin-right: 20px;
  font-size: 30px;
  cursor: pointer;
  border-right: 1px solid $light-navbar;

}

.searchIcon:hover {
  background-color: $navbar-color;

}

.menu {
  position: absolute;
  top: 175px;
  width: 150px;
  z-index: 9999;
  padding: 15px 5px;
  left: 5%;
  height: 50px;
  font-size: 25px;
  transform: translate(0, -50%);
  border-radius: 12px;
}

.menu:hover {
  background-color: $light-navbar;
  cursor: pointer;
}

.menuItems {
  display: flex;
  align-items: center;
  justify-content: center
}

.menuIcon {
  font-size: 55px;
  cursor: pointer;
}