@import './../../../scss/variables.scss';

.icon {
  font-size: 36px;
  width: 36px;
  height: 36px;
  margin-top: 8px;
  position: absolute
}

.icon-spacer {
  width: 50px;
  height: 35px;
  display: inline-block
}

.title {
  display: inline-block;
  margin-top: 3px;
  margin-right: 3px;
}

.text {
  font-size: 18px;
  padding: 0px 5px 0px 5px;
}

.login-form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.center-content {
  margin: 0 auto;
  text-align: center;
}

.form-field {
  width: 80%;
}

.submit-container {
  @media only screen and (min-width: $breakpoint-small) {
    height: 78px;
  }

  @media only screen and (min-width: $breakpoint-large) {
    height: 78px;
  }

  display: flex;
  align-items: center;
  justify-content: center;


  .submit-btn {
    width: 100px
  }

}