<h2 class="center-content">
  <mat-icon class="icon">login</mat-icon>
  <div class="icon-spacer"></div>
  <div class="title">{{'login.login-title' | translate}}</div>
</h2>

<div mat-dialog-content class="row">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="on">

    <div class="center-content">
      <mat-form-field class="form-field">
        <mat-label>Login</mat-label>
        <input matInput placeholder="Login" minlength="5" maxlength="20" formControlName="login" required
          autocomplete="username">
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>{{ 'login.password' | translate }}</mat-label>
        <input matInput type="password" placeholder="{{ 'login.password' | translate }}" minlength="6" maxlength="254"
          required formControlName="password" autocomplete="new-password">
      </mat-form-field>
    </div>
  </form>

</div>
<div class="small-spacer"></div>
<div class="submit-container">
  <button mat-raised-button type="submit" class="submit-btn" (click)="onSubmit()" color="primary"
    [disabled]="!loginForm.valid" [disabled]="loading">{{ 'register.submit' | translate }}</button>
</div>