.icon {
  font-size: 36px;
  width: 36px;
  height: 36px;
  margin-top: 8px;
  position: absolute
}

.icon-spacer {
  width: 40px;
  height: 40px;
  display: inline-block
}

.title {
  display: inline-block;
  position: absolute;
  margin-top: 3px;
  margin-right: 3px;
}

.text {
  font-size: 18px;
  padding: 0px 5px 0px 5px;
}