// https://flatuicolors.com/palette/fr
$navbar-color: #4a69bd;
$light-gray: #666775;
$dark-gray: #333447;
$light-green:#78e08f;
$light-blue:#c6dff5;
$red:#e55039;

$breakpoint-small: 33.75em; // 540px
$breakpoint-med: 45em; // 720px
$breakpoint-large: 60em; // 960px