<header class="mat-elevation-z8">

  <div class="header-container" *ngIf='nav.isVisible()' [@inOutAnimation]>
    <!-- (mouseleave)='nav.hide()' -->


    <div class="app-name-area">
      <div class="app-icon">
        <mat-icon>label</mat-icon>
      </div>
      <div class="app-name">Floiir</div>
    </div>

    <div class="user-area">

      <ng-container>

        <div class="nav-spacer"></div>

        <button mat-button class="nav-btn" *ngIf="!authService.isAuthenticated" (click)="logIn()">
          {{'login.login-title' | translate}}</button>

        <button mat-button class="nav-btn" [matMenuTriggerFor]="menu1"> Menu 1 </button>

        <button *ngIf="translate.currentLang==='en-US'" (click)="changeLang('pl-PL')" mat-button class="flag-btn">
          <img src="assets/img/pl.png" alt="image">
        </button>

        <button *ngIf="translate.currentLang==='pl-PL'" (click)="changeLang('en-US')" mat-button class="flag-btn">
          <img src="assets/img/usa.png" alt="image">
        </button>

        <button mat-icon-button [matMenuTriggerFor]="settings">
          <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #settings="matMenu">

          <a target="_blank" href="https://www.youtube.com/watch?v=oHg5SJYRHA0">
            <button mat-menu-item>
              <mat-icon>bug_report</mat-icon>
              <span>{{ 'navbar.reportProblem' | translate }}</span>
            </button>
          </a>

        </mat-menu>

        <mat-menu #menu1="matMenu">

          <button mat-menu-item routerLink="/uri1">
            <mat-icon>compare_arrows</mat-icon>
            <span>Test 1</span>
          </button>

          <button mat-menu-item routerLink="/uri1">
            <mat-icon>settings</mat-icon>
            <span>Test 2</span>
          </button>

        </mat-menu>

        <button mat-button class="nav-btn" *ngIf="authService.isAuthenticated" (click)="logOut()">
          {{'login.logout-title' | translate}}</button>

      </ng-container>

    </div>

  </div>

</header>

<div style="height:80px;"></div>