@import './app/scss/variables.scss';
@import '~@angular/material/theming';

$custom-typography: mat-typography-config($font-family: 'Lato');
@include mat-core($custom-typography);
$app-primary: mat-palette($mat-blue-grey, 900);
$app-accent: mat-palette($mat-pink, A200, A100, A400);
$app-warn: mat-palette($mat-red);
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
@include angular-material-theme($app-theme);

// fonts
$font-family: 'Lato',
Helvetica,
sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-heavy: 700;
$font-height: 1.5;

// universal

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    font-size: 100%;
    color: $dark-gray;
}

* {
    font-family: $font-family;
    line-height: $font-height;
}

a {
    text-decoration: none;
}

div,
button,
span:focus {
    outline: 0;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hide {
    display: none;
}

.small-spacer {
    width: 1px;
    height: 25px;
}

.spacer {
    width: 1px;
    height: 50px;
}

.big-spacer {
    width: 1px;
    height: 75px;
}